@import "tailwindcss";
@import "@heroui/styles";


:root {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}


.hero_content{
  opacity: 0;
  transform:  translateY(30px);
  transition: all 0.8s ease-out;
}

.swiper-slide-active .hero_content{
  opacity: 1;
  transform:  translateY(0);
}


.hero_button{
  opacity: 0;
  transform:  translateY(-30px);
  transition: all 0.8s ease-out;
}

.swiper-slide-active .hero_button{
  opacity: 1;
  transform:  translateY(0);
}